@font-face {
    font-family: fuentelol;
    src: url("BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf");
}

body {
    font-family: fuentelol;
    margin: 0;
    padding: 0;
    color: #cba865;
    
}



.textocentral{
    transform: translateY(-340px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.textocentral h1{
    font-size: 3.5rem;
    text-align: center;
    color: aliceblue;
    font-weight: 700;
}

.contenedor-footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.seccion {
    flex: 1;
    margin-right: 80px;
}

.seccion:last-child {
    margin-right: 0;
}

h3 {
    font-size: 1.2em;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    text-decoration: none;
}


/*VIDEO CENTRAL*/
.video-container-central{
   

    width: 80%;
    transform: translateX(210px);

}