.navbar-nav {
  margin-left: auto;
}

#logo{

  display:flex;
  align-items: center;
  animation-name: ndea;
  animation-duration: 2s;
  transition-duration: .5s;
  
}

#logo:hover > img {
  transform: rotate(360deg);
  transition-duration: .5s;
}


.bg{
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
}

nav{
  
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 5px 5vw;
  

  align-items: center;
  animation-name: bajar;
  animation-duration: 1s;
}

*{
  margin: 0;
  padding: 0;
}

#body_login2{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(300deg, #53056f, #180362);
}



#espacioloko{

  padding: 6px;

}

.contenedor{
  background-color: #ffffff;
  padding: 50px;
  border-radius: 0px;
  width: 40%;
}

form{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

h1{
  font-size: 2rem;
  text-align: center;
}

a{
  color: #7c7c7c;
  text-decoration: none;
}

input{
  box-shadow: none !important;
}

.correct{
  border: 1px #13a01d8b solid !important;
}
.incorrect{
  border: 1px #a013138b solid !important;
}

.texto-error{
  text-align: right;
  color: rgba(255, 0, 0, 0.616);
  font-size: .9rem;
}





.container{
  position: relative;
  height: 100%;

}

.video-container{
   
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
    
}

.video-container video{
  position: relative;
  top: 0%;
  left: -60%;
  object-fit: cover;
  
}
