.navbar-nav {
    font-family: fuentelol;
    margin: 0;
    padding: 0;
    color: #cba865;
    justify-content: space-evenly;
}

.comprar{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.comprar > a{
    line-height: 40px;
    background-color: #cba865;
    color: #000000;
    width: 200px;
    text-decoration: none;
    text-align: center;
    
}

.comprar > a:hover{
    background-color: #9c814e;
    
}

body {
    margin: 0;
    padding: 0;
}

h4 {

    color: #cba865;

}


h6 {
    color: #cba865;


}

.contenedor {

    padding: 50px;
    color: #cba865;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    

}

.carro {

    border: 1px solid #cba865;
    padding: 20px;
    margin-bottom: 20px;
    
}

.producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.promo {
    margin-top: 20px;
}

.promo label {
    margin-right: 10px;
    color: #cba865;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product {
    width: 100px;
    border-radius: 5px;
}

.contenedor-footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: fuente lol;  
}

footer {
    background-color: #967a45;
    color: #000000;
    padding: 20px 0;
    
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.seccion {
    flex: 1;
    margin-right: 80px;
    font-family: fuente lol;
}

.seccion:last-child {
    margin-right: 0;
}

h3 {
    font-size: 1.2em;
}

.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    text-decoration: none;
}

.social-media li a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
    }
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #967a45;

}

#espacioloko2footercarro{

    padding: 80px;

}

.tablacarrito{
    
    width: 90%;
    
    
}

.tablacarrito thead{
    background-color: #967a45;
    color: #c7c3c3;
    height: 30px;
    text-align: center;
}

.tablacarrito th{
    padding: 5px;
    border: 1px solid black;
    padding: 10px;
    
}

.tablacarrito td{
    text-align: center;
}


.tablacarrito tr {
    border-bottom: 1px solid black;
}


.imagen-carrito{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    display: inline-table;
    width: 20vh;
}

tbody{
    color: #1d1c1c;
    background-color: #cba865;

}

table{
    margin: 10vh;
    
}

.titulo-carrito{
    justify-content: center;
    display: flex;
    color: #c7c3c3;
}


.imagen-carrito{



    padding: 10px;
    width: 25vh;

}




