@font-face {
    font-family: fuentelol;
    src: url("BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf");
}

body {
    font-family: fuentelol;
    margin: 0;
    padding: 0;
    color: #cba865;
    
}




.navbar-nav {
    margin-left: auto;
}

.navbar-nav {
    font-family: fuentelol;
    margin: 0;
    padding: 0;
    color: #cba865;
    
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(8px);
}

.product {
    width: 200px;
    text-align: center;
    background-color: #cba865

    ;
    border-radius: 5px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product a {
    color: #000;
    text-decoration: none;
}


/*FOOTER*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor-footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.seccion {
    flex: 1;
    margin-right: 80px;
}

.seccion:last-child {
    margin-right: 0;
}

h3 {
    font-size: 1.2em;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    text-decoration: none;
}


/*VIDEO CENTRAL*/
.video-container-central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vh; 
}

video {
    max-width: 100%; 
    max-height: 100%; 
}

/*texto central*/

.texto-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    text-align: center;
    color: #fff; 
    animation: backwards;  
}
  

.texto-central h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}



.decoracion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5vh; 
    
}
   

img {
    max-width: 100%; 
    max-height: 100%; 
}


.contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    overflow-x: hidden;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
}

.seccion {
    margin-right: 20px;
    margin-bottom: 20px;
}

.seccion:last-child {
    margin-right: 0;
}

.social-media {
    list-style-type: none;
    padding: 0;
    margin: 0;
    ;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.social-media li {
  margin-bottom: 5px; 
}

.social-media li a:hover {
    color: #988f11;
}

@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
    }
}

.copyright {
    text-align: center;
    margin-top: 20px;
}